<% include partials/header %>
    
    <div class = "container">
            <header class = "jumbotron">
                <div class = "container">     
                    <h1>Welcome to Hyderabad</h1>
                    <p>A City of Peace And Beautiful Enviornment</p>
                    
                </div>
            </header> 
    </div>        

<div class ="container">
        <div class = "row">
            <div class = "col-md-4">
                <div class= "lead">Visit Places</div>
                <div class = "list-group">
                    <a class = "list-group-item active" href = "/restaurants"><strong>Restaurants</strong></a>
                    <a class = "list-group-item" href = "/campgrounds"><strong>Guest Houses</strong></a>
                    <a class = "list-group-item" href= "#"><strong>Historical Places</strong></a>
                    <a class = "list-group-item" href= "#"><strong>Shopping Malls</strong></a>
                    <a class = "list-group-item" href= "#"><strong>Super Markets</strong></a>
                    <a class = "list-group-item" href= "#"><strong>Pharmaceuticals</strong></a>
                    <a class = "list-group-item" href= "#"><strong>Book Stores</strong></a>
                </div>
            </div>
        </div>    
</div>

<% include partials/footer %>